<%- include('partials/header'); -%>

<form>
  <h2>Sign Up</h2>
  <label for="email">Email</label>
  <input type="text" name="email" required />
  <div class="error email"></div>
  <label for="password">Password</label>
  <input type="text" name="password" required />
  <div class="error password"></div>
  <button>submit</button>
</form>

<script>
  let form = document.querySelector('form');
  let emailError = document.querySelector('.email.error');
  let passwordError = document.querySelector('.password.error');

  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    // reset error values
    emailError.textContent = '';
    passwordError.textContent = '';

    let email = form.email.value;
    let password = form.password.value;

    try {
      const response = await fetch('/signup', {
        method: 'post',
        body: JSON.stringify({ email, password }),
        headers: { 'Content-Type': 'application/json' },
      });
      const data = await response.json();
      if (data.user) {
        window.location.assign('/');
      }
      if (data.errors) {
        const error = data.errors;
        emailError.textContent = error.email;
        passwordError.textContent = error.password;
      }
    } catch (error) {
      console.log(error);
    }
  });
</script>

<%- include('partials/footer'); -%>
